include:
  # remote configuration scope
  # note - this cannot have a name attribute
  - git: https://github.com/cwhitlock-NOAA/custom_spack.git
    branch: main
    paths: 
    - config/concretizer.yaml
    - config/config.yaml
    - config/include.yaml
    - config/packages.yaml
    - config/repos.yaml
    
  # site configuration scope
  - name: "site"
    path: "$spack/etc/spack/site"
    prefer_modify: true
    optional: true    

  # user configuration scope
  - name: "user"
    path_override_env_var: SPACK_USER_CONFIG_PATH
    path: "~/.spack"
    optional: true
    when: '"SPACK_DISABLE_LOCAL_CONFIG" not in env'

  # system configuration scope
  - name: "system"
    path_override_env_var: SPACK_SYSTEM_CONFIG_PATH
    path: "/etc/spack"
    optional: true
    when: '"SPACK_DISABLE_LOCAL_CONFIG" not in env'
    
